# Backend Spring Boot
backend-darkkitchen/target/
backend-darkkitchen/.classpath
backend-darkkitchen/.project
backend-darkkitchen/.settings/
backend-darkkitchen/*.iml

# Frontend React
frontend-darkkitchen/node_modules/
frontend-darkkitchen/build/
frontend-darkkitchen/.env

# OS
.DS_Store
Thumbs.db
